<div
  x-cloak
  class="blur-overlay"
  x-transition.opacity.duration.300ms
  @click.self="$store.drawer.hide();"
  x-show="$store.quickOrder.visible || $store.popup.visible || $store.mobileMenu.visible || $store.cart.visible || $store.drawer.visible || $store.collectionFiltersStore.visible"
>
  <!-- FOR CART -->
  <div x-show="$store.cart.visible" id="cart-overlay"></div>

  <!-- FOR QUICK ORDER -->
  <div x-show="$store.quickOrder.visible">
    <div
      class="blur-overlay blur-overlay--inner"
      x-transition.opacity.duration.300ms
      x-show="$store.quickOrder.visible"
      @click.self="$store.quickOrder.hide()"
    ></div>
    <div
      id="quick-order-overlay"
      class="bg-sc-bg-primary z-100 absolute right-0 bottom-0 flex w-full max-w-[550px] flex-col shadow"
      :class="$store.quickOrder.initiator === 'cart' ? 'md:rounded-bl-r-block' : '' "
      x-show="$store.quickOrder.visible"
      @click.outside="$store.quickOrder.hide()"
      x-transition:enter="transition ease-out duration-300"
      x-transition:enter-start="translate-y-full"
      x-transition:enter-end="translate-y-0"
      x-transition:leave="transition ease-in duration-300"
      x-transition:leave-start="translate-y-0"
      x-transition:leave-end="translate-y-full"
    ></div>
  </div>

  <!-- FOR MOBILE MENU -->
  <div x-show="$store.mobileMenu.visible" id="mobile-menu-overlay"></div>

  <!-- FOR ALL DRAWERS -->
  <div
    x-cloak
    x-show="$store.drawer.visible"
  >
    <div
      id="drawer-overlay"
      x-show="$store.drawer.visible"
      x-transition:enter="transition ease-out duration-300"
      x-transition:enter-start="translate-y-full md:translate-y-0 md:translate-x-full"
      x-transition:enter-end="translate-y-0 md:translate-x-0"
      x-transition:leave="transition ease-in duration-300"
      x-transition:leave-start="translate-y-0 md:translate-x-0"
      x-transition:leave-end="translate-y-full md:translate-y-0 md:translate-x-full"
      class="fixed top-0 right-0 z-10 h-full w-full shadow md:max-w-[550px]"
    ></div>
  </div>

  <!-- FOR FACETS -->
  <div id="facets-overlay" x-show="$store.collectionFiltersStore.visible"></div>
</div>
