{% liquid
  assign topic_blocks = section.blocks | where: 'type', 'topic'

  assign btn_type = btn_type | default: 'btn_primary_pill_fill'

  assign class = class | default: ''
  assign class = class | append: ' grid grid-cols-1 gap-3'
%}

{% capture topic_options %}
  {%- for option in topic_blocks -%}
      <option {% if forloop.first -%}selected{%- endif %} value="{{- option.settings.title -}}">
        {{- option.settings.title -}}
      </option>
  {%- endfor -%}
{% endcapture %}

{% form 'contact', x-data: 'nativeForm()', class: class %}
  {{ form.errors | default_errors }}

  <div class="grid grid-cols-2 gap-3 md:grid-cols-1">
    {% assign placeholder = 'contact.form.first_name' | t %}
    {%- render 'input',
      name: 'contact[first_name]',
      label: placeholder,
      type: 'text',
      required: true,
      autocomplete: 'given-name'
    -%}

    {% assign placeholder = 'contact.form.last_name' | t %}
    {%- render 'input',
      name: 'contact[last_name]',
      label: placeholder,
      type: 'text',
      required: true,
      autocomplete: 'family-name'
    -%}
  </div>

  {% assign placeholder = 'contact.form.email' | t %}
  {%- render 'input',
    name: 'contact[email]',
    label: placeholder,
    type: 'text',
    required: true,
    autocomplete: 'email'
  -%}

  {% assign placeholder = 'contact.form.type' | t %}
  {%- render 'select',
    name: 'contact[topic]',
    label: placeholder,
    options: topic_options,
    chevron: true,
    input_height: 54
  -%}

  {% assign placeholder = 'contact.form.message' | t %}
  {%- render 'input',
    name: 'contact[body]',
    multiline: 4,
    label: placeholder,
    type: 'textarea',
    required: true,
    class: 'mb-2 md:mb-4.5'
  -%}

  <button
    type="submit"
    class="{% render 'btn-class', btn: btn_type %} w-full md:min-h-[52px] md:text-lg"
  >
    {{- 'contact.form.send' | t -}}
  </button>
{% endform %}
