{% liquid
  assign color_scheme = section.settings.color_scheme
%}

<div class="color-scheme-{{ color_scheme }} bg-sc-bg-primary bg-primary-gradient">
  <div class="px-7.5 pt-12.5 md:pb-25 2k:max-w-[1080px] mx-auto max-w-[910px] pb-5 md:px-20">
    <h1 class="mb-7.5 2k:text-6xl text-sc-title font-primary text-4xl font-medium md:text-5xl">
      {{ page.title }}
    </h1>

    <div class="text-sc-body-primary rte-article text-lg">
      {{ page.content }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Main page",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    }
  ]
}
{% endschema %}
